*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    font-size: 1.7rem;
    min-height: 100vh;
    scroll-behavior: smooth;
    
}


/* Main Section Style */
main{
    height: 549px;
    width: 100%;
    background-color: #d5d2d2;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
}

.quest-display-container{
    flex-shrink: 0;
    height: 549px;
    width: 100%;
    display: grid;
    grid-template-rows: 80px 468px;
}

.quest-menu-header{
    grid-column: 1/3;
    grid-row: 1/2;
    width: 766px;
    height: 80px;
    border: 1px solid black;
    background-color: #c5c4c4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.quest-menu-title{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid black;
    font-size: 2.1rem;
    font-weight: bold;
    flex-shrink: 0;
}

.quest-type-title-container{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 0 14px;
}

.quest-type-title{
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
}

.add-quest-button{
    flex-shrink: 0;
    width: 88px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    border: 1px solid black;
    border-radius: 4px;
}

.quest-type-menu-body{
    grid-column: 1/2;
    grid-row: 2/3;
    height: 468px;
    border: 1px solid black;
    border-top: none;
    background-color: #c5c4c4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.active-quests-selection{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.main-quests-selection{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.side-quests-selection{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.errands-selection{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.collectables-selection{
    display: flex;
    justify-content: center;
    align-items: center;    
}

.quest-menu-icon{
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.active-quest-icon{
    width: 26px;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

/* .quest-menu-icon{
    font-size: 2.3rem;
} */

.quest-actions-display{
    grid-column: 2/3;
    grid-row: 2/3;
    flex-shrink: 0;
    height: 468px;
    border: 1px solid black;
    border-left: none;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quests-objects-display{
    padding: 16px 0;
    flex-shrink: 0;
    height: 466px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
}

.quest-cards{
    flex-shrink: 0;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}


.quest-icon{
    border: 1px solid black;
}

.quest-card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quest-name{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-size: 1.3rem;
}

.quest-exp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-size: 0.8rem;
    gap: 4px;
    font-weight: bold;
}
.quest-exp div{
    font-size: 1.5rem;
}

.quest-menu-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding: 5px 12px;
    position: absolute;
    top: 5%;
    right: 1%;
}
.quest-menu-button:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    padding: 5px 12px;
    border: 1px solid black;
    position: absolute;
    top: 5%;
    right: 1.1%;
}

.quest-desription-section{
    grid-column: 3/4;
    grid-row: 2/3;
    flex-shrink: 0;
    width: 376px;
    height: 450px;
    border: 1px solid black;
    border-left: none;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.quest-desription-display{
    width: 356px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quest-description-header{
    flex-shrink: 0;
    width: 100%;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.quest-description-header .description-title{
    font-size: 1.6rem;
}

.quest-options-button-container{
    width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 1.5rem;
}

.quest-control-menu{
    width: 190px;
    height: 192px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 7px 6px 139px 25px 13px;
    grid-template-rows: 6px 36px 10px 42px 42px 42px 6px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    position: absolute;
    background-color: #d5d2d2;
    top: -4%;
    right: -1%;
    z-index: 2;
}
 
.quest-selection-menu-title{
    grid-column: 2/4;
    grid-row: 2/3;
    width: 120px;
    height: 32px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.exit-quest-menu-button{
    grid-column: 4/6;
    grid-row: 2/3;
    width: 32px;
    height: 32px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.delete-section-link{
    grid-column: 3/5;
    grid-row: 4/5;
    width: 164px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}

.update-section-link{
    grid-column: 3/5;
    grid-row: 5/6;
    width: 164px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.activate-quest-button{
    grid-column: 3/5;
    grid-row: 6/7;
    width: 164px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 0.8px solid black;
    border-radius: 2px;
    outline: none;
    font-size: 1.5rem;
}

.quest-description-body{
    padding: 6px;
    width: 86%;
    height: 130px;
    border: 0.7px solid rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1.1rem;
    overflow-y: auto;
}

.quest-objective{
    width: 356px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.quest-objective-header{
    width: 96%;
    height: 42px;
    border-bottom: 0.8px solid rgb(44, 44, 44);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.percent-progress{
    font-size: 1.5rem;
}

.quest-objective-body{
    padding: 0px 18px;
    width: 90%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 1rem;
    overflow-y: hidden;
    scroll-behavior: smooth;
    text-align: start;
}

.quest-objective-body:hover{
    overflow-y: auto;
}

.quest-objective-body ul{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 96%;
    gap: 12px;
}

.confirm-objectives-section{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm-button-container{
    width: 97%;
    height: 46px;
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 18px;
}

.confirm-button-container button{
    background-color: #d5d2d2;
    border: 0.8px solid black;
    outline: none;
    padding: 3px 6px;
    font-size: 1.3rem;
}




















/* Quest Data control's style */

/* Delete Quest control style */

.quest-data-control{
    width: 99.8%;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.data-control-header{
    width: 100%;
    height: 60px;
    border: 1px solid black;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.data-control-title{
    flex-shrink: 0;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.9rem;
    font-weight: bold;
}

.update-delete-switch-container{
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-delete-switch{
    width: 188px;
    height: 34px;
    border: 1px solid black;
    font-size: 1.7rem;
}

.exit-quest-controls{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    outline: none;
    font-size: 1.8rem;
    background-color: #d5d2d2;
}
/* .exit-quest-controls{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    outline: none;
    font-size: 2rem;
    background-color: #d5d2d2;
} */





.data-control-body{
    flex-shrink: 0;
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: start;
    align-items: start;
}

.quest-delete-section{
    flex-shrink: 0;
    width: 330px;
    height: 450px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.delete-selection-header{
    flex-shrink: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.delete-button-container{
    flex-shrink: 0;
    width: fit-content;
    height: 44px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.delete-quest-button{
    width: 74px;
    height: 34px;
    font-size: 1.5rem;
}



.delete-selection-body{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.delete-section-image-container{
    flex-shrink: 0;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-section-image-container img{
    width: 240px;
    height: 200px;
    border: 1px solid black;
}

.delete-section-controls{
    width: 248px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quest-title-select-container{
    width: 248px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quest-title-select-container label{
    font-size: 1.4rem;
    font-weight: bold;
}

.delete-title-display{
    width: 182px;
    height: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.12rem;
}

.quest-id-select-container{
    width: 248px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quest-id-select-container label{
    font-size: 1.3rem;
    font-weight: bold;
}

.quest-id-selection{
    width: 200px;
    height: 30px;
    font-size: 1rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.quest-type-section{
    width: 248px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quest-type-section label{
    font-size: 1.5rem;
    font-weight: bold;
}

.quest-type-buttons-container{
    width: 170px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quest-type-buttons-container button{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}




.quest-bin-section{
    flex-shrink: 0;
    width: 436px;
    height: 450px;
    border: 1px solid black;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.quest-bin-header{
    flex-shrink: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.quest-bin-header-title{
    font-size: 2rem;
}

.clear-bin-buttons{
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.binned-restore-all-button{
    width: 38px;
    height: 32px;
    padding: 2px;
    font-size: 1.1rem;
    font-weight: bold;
}

.remove-all-binned-quest-button{
    width: 38px;
    height: 32px;
    padding: 2px;
    font-size: 1.1rem;
    font-weight: bold;
}

.quest-bin-body{
    flex-shrink: 0;
    width: 100%;
    height: 398px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
    padding: 10px 4px;
    padding-left: 10px;
    overflow: hidden;
}

.quest-bin-body:hover{
    overflow: auto;
}

.binned-quest-card{
    width: 400px;
    height: 90px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bin-card-image-container{
    width: 76px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bin-card-image-container img{
    border: 1px solid black;
    width: 64px;
    height: 60px;
}


.bin-quest-card-details{
    width: 300px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.binned-quest-title-container{
    width: 96%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.binned-quest-title{
    font-size: 1.5rem;
    align-items: end;
}

.remove-binned-quest-button{
    width: 34px;
    height: 28px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
}

.binned-quest-body-container{
    width: 96%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.binned-rank-exp-container{
    width: 190px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.binned-restore-button{
    width: 34px;
    height: 28px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.empty-bin-checked{
    width: 400px;
    height: 230px;
    background-color: #d5d2d2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    position: absolute;
    top: 30%;
}

.empty-bin-checked-header{
    width: 399px;
    height: 60px;
    padding: 0 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 1.9rem;
}

.empty-bin-checked-header button{
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
}

.empty-bin-checked-body{
    background-color: #dedddd;
    width: 398px;
    height: 110px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    gap: 10px;
}

.empty-bin-body-text{
    font-size: 1.6rem;
}

.empty-bin-body-warning{
    font-size: 1.2rem;
}

.empty-bin-checked-footer{
    background-color: #dedddd;
    width: 398px;
    height: 58px;
    padding: 0 10px;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 1.7rem;
}

.empty-bin-checked-footer button{
    width: 110px;
    height: 34px;
    font-size: 1.5rem;
}







/* Update Quest control style */

.update-quest-data-controller{
    width: 764px;
    height: 512px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.update-quest-data-header{
    width: 100%;
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

/* .data-control-title{
    flex-shrink: 0;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.9rem;
    font-weight: bold;
}

.update-delete-switch-container{
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-delete-switch{
    width: 188px;
    height: 34px;
    border: 1px solid black;
    font-size: 1.7rem;
}

.exit-quest-controls{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    outline: none;
    font-size: 1.8rem;
    background-color: #d5d2d2;
} */

.update-quest-data-body{
    width: 100%;
    height: 450px;
    border: 1px solid black;
    border-top: none;
}

.quest-body-title-container{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.update-quest-button{
    width: 100px;
    height: 36px;
    font-size: 1.7rem;
    outline: none;
}


.quest-body-data-container{
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-rows: 220px 180px;
    grid-template-columns: 302px 460px;
}

.quest-update-selector{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.update-quest-type-selection{
    width: 280px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.quest-update-type-selection{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quest-update-type-selection button{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

.quest-update-id-selection{
    width: 280px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.update-id-quest-selector{
    width: 100%;
    height: 30px;
    font-size: 1.2rem;
    outline: none;
}

.quest-update-title-selection{
    width: 280px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.update-title-quest-selector{
    width: 100%;
    height: 30px;
    font-size: 1.4rem;
    outline: none;
}

.update-detail-section{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid black;
    overflow-y: scroll;
    padding: 10px 0;
}

.update-quest-details-container{
    width: 420px;
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.update-quest-detail-input{
    width: 420px;
    height: 110px;
    font-size: 1.4rem;
    display: flex;
    justify-content: start;
    align-items: start;
    outline: none;
    resize: none;
    padding: 6px;
}

.quest-category-update-container{
    flex-shrink: 0;
    width: 420px;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.quest-category-update-input{
    width: 420px;
    height: 30px;
    font-size: 1.4rem;
    outline: none;
}

.update-objectives-controls{
    flex-shrink: 0;
    width: 420px;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.update-objective-body{
    width: 418px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-objectives-input-container{
    width: 320px;
    height: 30px;
    display: flex;
    justify-content: start;
    align-items: center
}

.update-quest-objectives-input{
    width: 250px;
    height: 30px;
    font-size: 1.4rem;
    outline: none;
}

.objectives-index-selector{
    width: 40px;
    height: 30px;
    font-size: 1.4rem;
    outline: none;
}

.update-objective-button-container{
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-objective-button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;    
}

.objectives-submit-update-button{
    width: 80px;
    height: 30px;
    font-size: 1.4rem;
    outline: none;
}

.quest-update-progress-container{
    width: 420px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-quest-progress-input{
    width: 210px;
    height: 26px;
    outline: none;
}

.requirements-active-check-container{
    flex-shrink: 0;
    width: 420px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.requirements-active-check-container label{
    font-size: 1.3rem;
}

.active-quests-checkbox-container{
    width: 160px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.active-quests-checkbox-update{
    width: 20px;
    height: 20px;
    outline: none;
}

.quests-requirements-checkbox-container{
    width: 230px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quests-requirements-checkbox-update{
    width: 20px;
    height: 20px;
    outline: none;
}

.update-keywords-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid black;
    padding: 10px 0;
}

.quest-experience-update-control{
    width: 280px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quest-experience-update-input{
    width: 120px;
    height: 30px;
    font-size: 1.4rem;
    outline: none;
}

.quest-rank-updater{
    width: 280px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rank-select-input{
    width: 60px;
    height: 30px;
    font-size: 1.4rem;
    outline: none;
}

.update-quest-keywords-section{
    width: 280px;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.keywords-update-body-section{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.keyword-count-container{
    width: 180px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-keywords-input{
    width: 140px;
    height: 30px;
    font-size: 1.4rem;
    outline: none;
}

.update-keywords-index-selector{
    width: 40px;
    height: 30px;
    font-size: 1.4rem;
    outline: none;
}

.delete-keyword-button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;    
}

.update-keywords-button-container{
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.submit-keyword-button{
    width: 46px;
    height: 30px;
    font-size: 1.4rem;
    outline: none;
}

.update-imaging-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.requirements-update-section{
    width: 440px;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.requirements-quest-update-input{
    width: 440px;
    height: 30px;
    font-size: 1.4rem;
    outline: none;
}

.image-update-container{
    width: 440px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-update-selection{
    width: 250px;
    height: 26px;
    font-size: 1.2rem;
    outline: none;
}

.update-briefing-link-container{
    width: 440px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.update-briefing-link-selector{
    width: 250px;
    height: 26px;
    font-size: 1.2rem;
    outline: none;
}







/* This is the quest creator style */
.quest-creator{
    flex-shrink: 0;
    width: 766px;
    height: 511px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.creator-header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid black;
}

.quest-creator-title{
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2rem;
}

.create-button-container{
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.quest-type-selector{
    width: 164px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    position: relative;
    font-size: 1.7rem;
}

.cancel-creation-button{
    width: 110px;
    height: 50px;
    display: flex;  
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    position: relative;
    font-size: 1.7rem;
}

.create-quest-button{
    width: 110px;
    height: 50px;
    display: flex;  
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 4px;
    position: relative;
    font-size: 1.7rem;
}

.creator-body{
    width: 100%;
    height: 429px;
    display: grid;
    grid-template-columns: 300px 466px;
    grid-template-rows: 229px 200px;
    font-size: 1.7rem;
}

.quest-creator-section-A{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 5px 10px 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.quest-text-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.quest-text-container input{
    width: 280px;
    height: 24px;
    font-size: 1.2rem;
    outline: none;
}

.quest-creator-section-B{
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    height: 100%;
    padding: 5px 10px 10px;
    border-bottom: 1px solid black;
}

.quest-details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.quest-details-input{
    width: 446px;
    height: 130px;
    padding: 3px;
    outline: none;
    font-size: 1.3rem;
    resize: none;
}

.quest-checkbox-container{
    width: 446px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    font-size: 1.2rem;
}
.quest-checkbox-container div{
    width: fit-content;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.quest-checkbox-input{
    width: 20px;
    height: 20px;
}

.quest-creator-section-C{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.quest-experience-container{
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quest-experience-container input{
    width: 120px;
    height: 24px;
    font-size: 1.3rem;
    outline: none;
}

.quest-rank-container{
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rank-selector{
    width: 52px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    outline: none;
}

.quest-keywords-container{
    flex-shrink: 0;
    width: 280px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.input-button-container{
    width: 278px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quest-keyword-input{
    width: 180px;
    height: 26px;
    font-size: 1.3rem;
    outline: none;
}

.add-keyword-button{
    width: 50px;
    height: 30px;
    outline: none;
    font-size: 1.3rem;
}

.quest-creator-section-D{
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 5px 10px 10px;
    border-bottom: 1px solid black;
}

.quest-requirements-list-container{
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.quest-requirements-list-input{
    width: 446px;
    height: 30px;
    outline: none;
    font-size: 1.3rem;
}

.quest-objectives-container{
    width: 446px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quest-objective-input{
    width: 190px;
    height: 24px;
    outline: none;
    font-size: 1.2rem;
}

.add-object-button{
    width: 50px;
    height: 30px;
    outline: none;
    font-size: 1.3rem;
}

.image-selector-container{
    width: 446px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quest-image-selector{
    width: 260px;
    height: 24px;
    outline: none;
        font-size: 1.1rem;
}

.briefing-selector-container{
    width: 446px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quest-briefing-selector{
    width: 260px;
    height: 24px;
    outline: none;
    font-size: 1.1rem;
}

