*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 1.7rem;
    min-height: 100vh;
    scroll-behavior: smooth;
}



/* Main section  */
main{
    height: 840px;
    width: 100%;
    background-color: #d5d2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Task Calender */

.task-calender{
    width: 690px;
    height: 680px;
    padding: 8px 0 14px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.calender-header{
    width: 640px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.calender-date{
    width: 220px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-buttons-container{
    width: 96px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.previous-month-button{
    background-color: #d5d2d2;
    width: 40px;
    height: 50px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.next-month-button{
    background-color: #d5d2d2;
    width: 40px;
    height: 50px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}



.calender-body{
    width: 602px;
    height: 550px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.days-of-the-week{
    width: 602px;
    height: 44px;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; */
    display: grid;
    grid-template-rows: 44px;
    grid-template-columns: 78px 9.3px 78px 9.3px 78px 9.3px 78px 9.3px 78px 9.3px 78px 9.3px 78px;
    font-size: 1.6rem;
}

.days-of-the-week span{
    width: 78px;
    height: 44px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.sunday-column{
    grid-column: 1/2;
    grid-row: 1/2;
}
.monday-column{
    grid-column: 3/4;
    grid-row: 1/2;
}
.tuesday-column{
    grid-column: 5/6;
    grid-row: 1/2;
}
.wednesday-column{
    grid-column: 7/8;
    grid-row: 1/2;
}
.thursday-column{
    grid-column: 9/10;
    grid-row: 1/2;
}
.friday-column{
    grid-column: 11/12;
    grid-row: 1/2;
}
.saturday-column{
    grid-column: 13/14;
    grid-row: 1/2;
}


.date-card-container{
    width: 602px;
    height: 482px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 78px 9.3px 78px 9.3px 78px 9.3px 78px 9.3px 78px 9.3px 78px 9.3px 78px;
    grid-template-rows: 74px 9.3px 74px 9.3px 74px 9.3px 74px 9.3px 74px 9.3px 74px;
    flex-shrink: 0;
}

.date-cards{
    width: 78px;
    height: 74px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 4px 35px 35px 4px;
    grid-template-rows: 36px 14px 20px 4px;
}

.date-number{
    grid-column: 1/3;
    grid-row: 1/2;
    width: 40px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.date-text{
    grid-column: 2/4;
    grid-row: 3/4;
    width: 70px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 700;
    /* border: 1px solid rgb(65, 65, 65); */
    border-radius: 12px;
    padding: 2px;
}

/* .date-card-1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.date-card-2{
    grid-column: 3/4;
    grid-row: 1/2;
}
.date-card-3{
    grid-column: 5/6;
    grid-row: 1/2;
}
.date-card-4{
    grid-column: 7/8;
    grid-row: 1/2;
}
.date-card-5{
    grid-column: 9/10;
    grid-row: 1/2;
}
.date-card-6{
    grid-column: 11/12;
    grid-row: 1/2;
}
.date-card-7{
    grid-column: 13/14;
    grid-row: 1/2;
}


.date-card-8{
    grid-column: 1/2;
    grid-row: 3/4;
}
.date-card-9{
    grid-column: 3/4;
    grid-row: 3/4;
}
.date-card-10{
    grid-column: 5/6;
    grid-row: 3/4;
}
.date-card-11{
    grid-column: 7/8;
    grid-row: 3/4;
}
.date-card-12{
    grid-column: 9/10;
    grid-row: 3/4;
}
.date-card-13{
    grid-column: 11/12;
    grid-row: 3/4;
}
.date-card-14{
    grid-column: 13/14;
    grid-row: 3/4;
}


.date-card-15{
    grid-column: 1/2;
    grid-row: 5/6;
}
.date-card-16{
    grid-column: 3/4;
    grid-row: 5/6;
}
.date-card-17{
    grid-column: 5/6;
    grid-row: 5/6;
}
.date-card-18{
    grid-column: 7/8;
    grid-row: 5/6;
}
.date-card-19{
    grid-column: 9/10;
    grid-row: 5/6;
}
.date-card-20{
    grid-column: 11/12;
    grid-row: 5/6;
}
.date-card-21{
    grid-column: 13/14;
    grid-row: 5/6;
}


.date-card-22{
    grid-column: 1/2;
    grid-row: 7/8;
}
.date-card-23{
    grid-column: 3/4;
    grid-row: 7/8;
}
.date-card-24{
    grid-column: 5/6;
    grid-row: 7/8;
}
.date-card-25{
    grid-column: 7/8;
    grid-row: 7/8;
}
.date-card-26{
    grid-column: 9/10;
    grid-row: 7/8;
}
.date-card-27{
    grid-column: 11/12;
    grid-row: 7/8;
}
.date-card-28{
    grid-column: 13/14;
    grid-row: 7/8;
}


.date-card-29{
    grid-column: 1/2;
    grid-row: 9/10;
}
.date-card-30{
    grid-column: 3/4;
    grid-row: 9/10;
}
.date-card-31{
    grid-column: 5/6;
    grid-row: 9/10;
}
.date-card-32{
    grid-column: 7/8;
    grid-row: 9/10;
}
.date-card-33{
    grid-column: 9/10;
    grid-row: 9/10;
}
.date-card-34{
    grid-column: 11/12;
    grid-row: 9/10;
}
.date-card-35{
    grid-column: 13/14;
    grid-row: 9/10;
} */

/* Daily schedule */

.back-to-calender{
    width: 60px;
    height: 50px;
    border: 1px solid rgb(81, 81, 81);
    border-radius: 4px;
    outline: none;
    position: absolute;
    top: 1%;
    left: 1.2%;
    font-size: 1.3rem;
    font-weight: 500;
    background-color: #d5d2d2;
}

.daily-schedule-table{
    height: 800px;
    width: 600px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}

.daily-header-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 96%;
    font-size: 2.2rem;
}

.daily-body-display{
    border: 1px solid black;
    width: 90%;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    padding: 10px 0;
    row-gap: 20px;
}

.time-table-hours{
    border: 1px solid black;
    width: 94%;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.hourly-task-texts{
    width: 100%;
    height: 40px;
    font-size: 2.1rem;
}

.hours-body-display{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hours-button-container{
    width: 38%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hours-update-button{
    font-size: 1.2rem;
    padding: 3px;
    height: 100%;
    width: 75px;
    background-color: #d5d2d2;
    border: 0.6px solid black;
    border-radius: 4px;
    outline: none;
}

.hours-clear-button{
    font-size: 1.2rem;
    padding: 3px;
    height: 100%;
    width: 75px;
    background-color: #d5d2d2;
    border: 0.6px solid black;
    border-radius: 4px;
    outline: none;
}



.info-update-container{
    position: absolute;
    width: 100%;
    height: 900px;
    z-index: 2;
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-update-card{
    width: 600px;
    height: 390px;
    z-index: 2;
    background-color: #8e8d8d;
    opacity: 100%;
    border: 1px solid black;
    position: relative;
    top: -23%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 18px;
}

.update-card-header{
    width: 96%;
    height: 80px;
    font-size: 2.1rem;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-input-container{
    width: 90%;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.title-input-container label{
    font-size: 1.2rem;
    font-weight: 550;
    width: 100%;
    height: 100%;
}

.update-title-input{
    width: 98%;
    height: 100%;
    font-size: 1.4rem;
}

.description-container{
    width: 90%;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.description-container label{
    font-size: 1.2rem;
    font-weight: 550;
    width: 100%;
    height: 100%;
}

.update-description-input{
    width: 98%;
    height: 100%;
    font-size: 1.4rem;
}



.Id-Exp-storage{
    width: 90%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.id-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 360px;
}

.id-container label{
    font-size: 1.2rem;
    font-weight: 550;
    width: 100%;
    height: 100%;
}

.update-id-input{
    width: 98%;
    height: 26px;
    font-size: 1.2rem;
}

.exp-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 140px;
}

.exp-container label{
    font-size: 1.2rem;
    font-weight: 550;
    width: 100%;
    height: 100%;
}

.update-exp-input{
    width: 94%;
    height: 26px;
    font-size: 1.2rem;
}



.update-button-container{
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.confirm-update-button{
    height: 70%;
    width: 80px;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 3px;
}

.cancel-update-button{
    height: 70%;
    width: 80px;
    font-size: 1.3rem;
    border: 1px solid black;
    border-radius: 3px;
}